@import "variables";


//section projects
$sectionBgImage:  url('/images/project1.jpg'),  url('/images/project2.jpg'), url('/images/project3.jpg'), #A0A296;

@mixin bgProperties($number){
  background: nth($sectionBgImage, $number) center;
  background-size: cover;
  box-shadow: inset 5000px 0 0 0 rgba(255, 255, 255, 0.8);
}

html {
  font-size: 10px;
  @media only screen and (min-width: $bp-desktop-wide){
    font-size: 17px;
  }
  @media only screen and (min-width: $bp-desktop) and (max-width: $bp-desktop-wide){
    font-size: 15px;
  }
  @media only screen and (min-width: $bp-portrait) and (max-width: $bp-desktop){
    font-size: 12px;
  }

}






@keyframes preloader {
  0% {
    top: 6px;
    height: 51px;
  }
  50%, 100% {
    top: 19px;
    height: 26px;
  }
}

.center-box {
  margin: 0 auto;
}