$lineHeight: 20vh;

//breakpoints
$bp-mobile-narrow : 479px;
$bp-mobile : 519px ;
$bp-phablet : 767px ;
$bp-portrait : 1023px;
$bp-tablet  : 1199px ;
$bp-desktop   : 1359px ;
$bp-desktop-wide  :1600px ;